html{
    font-size: 62.5%;
}
@media only screen and (max-width:950px){ 
    /* //900px */
    html{
       
        font-size: 50%;
    } 
}


@media only screen and(max-width:1200px){ 
     /* //1200px */
     html{
       
        font-size: 56.25%;
    } 
}


@media only screen and (min-width:112.5em){   
     /* //1800px */
     html{
       
        font-size: 75%;
    } 
}




.draw {
    display: flex;
}
.map-div{
    height: calc(100vh - 1rem);
    flex-grow: 1;
}
.menu-btn{
    background: transparent;
    color: #fff;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all .3s ease-out ;
    font-size: 3rem;
}


.menu-btn:hover,
.nav-btn:hover{
    transform: scale(1.1);
    color: #0e9990;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
 background: transparent;
    color: #fff;
    border: none;
    font-size: 3rem;   
}
.drawer{
  color: #fff!important;
  background: #181A20!important;
}
.nav-btn{
    padding: 5px 10px;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600 ;
    background: transparent;
    border: none;
    transition: all .3s ease-out ;
    color: #ffff;
    cursor: pointer;
}
.drawer-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
body{
    font-family: 'Poppins', sans-serif;
}
.map{
    position: relative;
    background: #AAD3DF;
    width: 100%;
    height: 100%;
}
.geohash{
    min-width: 35%;
    background: #181A20;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    align-items: center ;
}
.leaflet-container{
    background: #AAD3DF!important;
}
.geohash-heading{
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}
.geo-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    flex: 0 0 auto;
    width: 80%;

}
.selected-geohashes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    min-height: 100px;
    width: 100%;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 5px;
    font-family: 'Poppins', serif;
    font-weight: 700;
    background-color: #1F222A;
    border-radius: 30px;
    color: #fff;
}
.btn-submit{
padding: 15px 25px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    width: 80%;
    border-radius: 20px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 8px;
    font-family: 'Poppins', serif;
    font-weight: 700;
    border: none;
    transition: all .3s ease-out;
    background-color: #0e9990 ;
}
.btn-submit:hover{
    background: #0b8078;
}
.query {
    min-width: 70%;
    min-height: 20%;
   background: #1F222A;
   border-radius: 10px;
   padding: 10px;
   color: #fff;
   font-family: 'Poppins', serif;
}



@media (max-width: 700px){
    .draw{
        flex-direction: column-reverse;
        min-height: 35%;
        width: 100%;
    }
    .map{
        height: 75%;
    }
    .geo-div{
        width: 100%;
        flex-direction: row;
        margin-bottom: 0;
    }
    .geohash-heading{
        margin-top: 20px;
    }
    .selected-geohashes{
        width: 40%;
        font-size: 1.3rem;
    }
    .btn-submit{
        width: 40%;
        padding: 10px 20px;
        font-size: 1.3rem;
    }
    .query{
        margin-bottom: 20px;
        border: none;

    }
}

h5{
    font-size: 1.8rem!important;
}