{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'sql_generate/styles/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <title>SQL Query Generator</title>
</head>

<body>

    <nav class="navigation">
        <div>
            <a href="{% url 'hash' %}"><button class="nav-btn" id="hash">Geo Hashes</button></a>
            <a href="{% url 'sql' %}"><button class="nav-btn" id="query">Query Generator</button></a>
        </div>
    </nav>
    <div class="main">
        <div class="main-1">

            <h1>Welcome </h1>

            <form action="{% url 'sql' %}" , class="form" method="post">
                {% csrf_token %}
                <div class="form-grp">
                    {{ form.table_name.label_tag }}
                    {{ form.table_name }}
                </div>
                <div class="form-grp">
                    {{ form.column_name.label_tag }}
                    {{ form.column_name }}
                </div>
                <div class="form-grp">
                    {{ form.values.label_tag }}
                    {{ form.values }}
                </div>
                <div class="form-grp1">
                    <button class="btn-submit" type="submit">
                        <span class="button-text">Generate Query</span>
                        <span class="material-symbols-outlined">download</span>
                    </button>
                </div>
            </form>
        </div>
        <div class="query-div">
        {% if query %}

        <p class="query-heading">Your Query</p>
        <textarea type="text" name="Query" class="query" readonly style="width: 836px; height: 350px;">{{ query }}</textarea>
        {% else %}
        <p class="query-heading">Your Query</p>
        <textarea type="text" name="Query" class="query" readonly style="width: 836px; height: 350px;"></textarea>

        {% endif %}
    </div>
    </div>
</body>

</html>